<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Automated Industrial Inspection System</h1>
        <a href="{{ url_for('bottle_scanning') }}" class="btn btn-primary">Bottle Scanning using Edge Detection</a>
        <a href="{{ url_for('bottle_detection') }}" class="btn btn-primary">Bottle Detection on Conveyor Belt using Template Matching</a>
        <a href="{{ url_for('defect_detection') }}" class="btn btn-primary">Defect Detection</a>
    </div>
</body>
</html>